body {
    margin: 0 0 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #fff;
}


/*navbar*/

.navbar {
    width: 100%;
    height: 2.5rem;
    background: black;
    position: fixed;
}

.header {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 2rem;
    text-align: center;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    ;
}

.header ul li {
    display: inline;
    margin-left: auto;
    margin-right: auto;
   
}

#lg_home {
    margin-top: 5px;
    font-size: 20px;
}

.header ul li a {
    margin: 1px 5px 1px;
    display: inline-block;
    color: rgb(153, 153, 153);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    margin-top: 10px;
}

.header li a:hover {
    color: white;
}


/*logo*/

#logo {
    background-image: url("../assets/wdsb.png");
    /**definindo a imagem de perfil*/
    background-size: cover;
    justify-content: center;
    background-position-x: 75%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-top: 0%;
    margin-right: auto;
    height: 300px;
    width: 300px;
    /*border-radius: 50%;*/
    /*-webkit-box-shadow: 10px 10px 20px -1px rgb(0 0 0 / 45%);*/
}

header {
    background-image: url(../assets/bg.png);
    background-position: center;
}


/*sobrenos*/

.sobreNos {
    color: black;
    text-align: center;
    margin-top: 5%;
    padding: 5px 0;
}

.sobre {
    margin-top: -6px;
    font-size: 40px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.sobreNos img {
    width: 250px;
    border-radius: 2.5rem;
}

#logo_altair {
    width: 30rem;
    margin-top: -2rem;
}

.sobreNos h3 {
    margin-top: 5rem;
}

.description {
    font-size: 20px;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    text-align: left;
    text-align: justify;
}


/*desenvolvimento*/

.desenvolvimento {
    color: black;
    text-align: center;
    padding: 5px 0;
}

.desenvolvimento img {
    width: 20rem;
    margin-top: 10px;
}


/*teste*/

.estrategia {
    color: black;
    text-align: center;
    padding: 5px 0;
}

.estrategia img {
    width: 20rem;
    margin-top: 10px;
    border-radius: 50px;
}


/*prototipo*/

.prototipo {
    color: black;
    text-align: center;
    padding: 5px 0;
}

.prototipo img {
    width: 20rem;
    margin-top: 10px;
}

.cod {
    text-align: center;
}


/*Caso de Uso*/

.caso_de_uso {
    color: black;
    text-align: center;
    padding: 5px 0;
}

.caso_de_uso h2 {
    margin-top: 3rem;
}

.caso_de_uso img {
    width: 20rem;
    margin-top: 20px;
}

.casoimg img {
    width: 75rem;
    box-shadow: 0.5px 0.5px 16px 2px black;
    margin-bottom: 4rem;
}


/*Tabelas*/

.table-img {
    color: black;
    text-align: center;
    padding: 5px 0;
}

.table-img h2 {
    margin-top: 3rem;
}

.table-img img {
    width: 20rem;
    margin-top: 20px;
}

.casoimg img {
    width: 75rem;
    box-shadow: 0.5px 0.5px 16px 2px black;
    margin-bottom: 4rem;
}

.container-table {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.box {
    width: 32rem;
    height: 19rem;
    border: 3px solid black;
    margin: 4px;
    margin-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-evenly;
    flex-direction: column;
}

.tab1 {
    display: table;
    width: 3rem;
    height: 5rem;
    border: 1px solid black;
    justify-content: space-around;
}

.tab1 a {
    text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: inherit
}

a:hover {
    color: inherit
}

a:active {
    color: inherit
}

.tab1 h2,
button {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.tab1 button {
    font-size: 1.2rem;
    font-weight: bold;
    width: 3rem;
    height: 5rem;
}

.box h4 {
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}

footer {
    width: 100%;
    height: 8rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    color: #a7a7a7;
    font-size: 1.2rem;
    margin-top: 4%;
}

.social-list a {
    margin: 0 2rem;
    color: #a7a7a7a7;
    font-size: 1.3rem;
}

.social-list ul {
    display: flex;
    list-style-type: none;
}

.social-list img {
    width: 4.5rem;
}